/* MAIN */
.container {
    width: 1296px;
    margin: 0 auto;
    text-align: center;
}

/* COLOR STYLE  */
:root {
    --white: #FFF;
    --grey: #DADADA;
    --dark-grey: #8E8E8E;
    --light-grey: #EEE;
    --green: #0F8277;
    --light-green: #DBF3ED;
    --black: #000000;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.logo {
    color: var(--black);
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    text-decoration: none;
}

h1 {
    color: var(--black);
    font-family: Quicksand;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    margin: 12px 0;

    color: var(--black);
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h3  {
    padding-top: 16px;
    color: var(--black);
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h4 {
    color: var(--green);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

p {
    color: var(--black);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}



/* HEADER */
header {
    width: 100%;
    background-color: var(--white);

    position: fixed;
    top: 0;
    z-index: 1;
}
.header-content {
    width: 1296px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.left-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 44px;
}


/* HEADER-BUTTON */
.menu-explore {
    width: 100px;
    border: none;
    border-radius: 4px;

    padding: 10px 12px;
    position: relative;

    color: var(--light-grey);
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    background-color: var(--green);
}

.menu-explore::after {
    content: "";
    position: absolute;
    transform: translateY(50%) rotate(45deg);

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: var(--light-grey);
    padding: 3px;
    margin-left: 2px;
}

/* menu-explore */
.menu-explore > .explore-menu-wrapper {
    display: none;
}

.menu-explore:hover >.explore-menu-wrapper {
    display: flex;
}

.explore-menu-wrapper {
    position: absolute;
    top: 50px;
    left: -2px;
    text-align: left;
    width: 360px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 16px 12px;

    background-color: var(--white);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.explore-menu-link {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.explore-menu-title {
    margin-bottom: 24px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.explore-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--black);
}

/* HEADER FORM */
.search-form {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    padding: 0;
    
}

.search-form input {
    padding-left: 12px;

    border: none;
}
.search-form input::placeholder {
    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.search-form-button {
    height: 100%;
    width: 36px;
    padding: 10px;
    border: none;


    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--green);
}

/* right-wrapper */
.right-wrapper {
    display: flex;
    flex-direction: row;
    gap: 104px;
    align-items: center;
}

.nav-menu-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.nav-menu-item a{
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* nav-button */
.nav-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav-log-in {
    width: fit-content;
    padding: 10px;

    color: var(--green);
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.nav-sign-up {
    width: fit-content;
    padding: 10px;

    border-radius: 4px;

    color: var(--light-grey);
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    background-color: var(--green);
}

/* MAIN */
.main {
    margin-top: 100px;
}
/* hero-block */
.hero-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 39px;
    padding-bottom: 35px;

    border-radius: 12px;
    background-color: var(--light-green);
}

.hero-block-content {
    width: 512px;
    margin-left: 110px;

    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 32px;    
}

.hero-block-photo {
    width: 526px;
    margin-right: 54px;
    height: 533px;
    background-image: url(../images/hero-img.png);
}


/* hero-block-buttons */
.hero-block-buttons {
    display: flex;
    gap: 24px;
}

/* BUTTON */
.start-learning {
    width: fit-content;
    padding: 10px 12px;

    border: none;
    border-radius: 4px;
    

    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    color: var(--light-grey);
    background-color: var(--green);
}

.learn-more {
    width: fit-content;
    padding: 8px 10px;

    border: 2px solid var(--green);
    border-radius: 4px;

    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    color: var(--green);
    background-color: transparent;
}


/* Academic training */
.choose-program {
    margin-top: 80px;
    text-align: left;
}

.academic-training {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* Academic training CARD */
.education-card {
    position: relative;
    width: 416px;
    height: 480px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}

.card-photo {
    width: 100%;
    height: 270px;
    background-size: contain;
}

#dan-it .card-photo{
    background-image: url(../images/academic-training/image-1.png);
}

#european-university .card-photo {
    background-image: url(../images/academic-training/image-2.png);
}
#projector .card-photo {
    background-image: url(../images/academic-training/image-3.png);
}

.card-content {
    height: fit-content;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-wraper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.logo-wraper p {
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.get-diploma {
    /* margin-top: 48px; */
    position: absolute;
    bottom: 24px;
    display: flex;
    gap: 12px;
}

.get-diploma p {
    color: var(--green);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


/* Courses and specializations */
.courses-specializations {
    margin-top: 80px;
    text-align: left;
}

.popular-courses {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* Courses and specializations CARD*/
.courses-card {
    position: relative;
    width: 306px;
    height: 480px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}

.courses-card-photo {
    width: 100%;
    height: 270px;
    background-size: contain;
}

#UIUX-design .card-photo {
    background-image: url(../images/popular-courses/image-1.png);
}

#full-stack .card-photo {
    background-image: url(../images/popular-courses/image-2.png);
}

#qa .card-photo {
    background-image: url(../images/popular-courses/image-3.png);
}

#smm .card-photo {
    background-image: url(../images/popular-courses/image-4.png);
}


/* link-more */
.link-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: var(--green);
        
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.link-more img {
    padding: 2px;
    width: 16h 16px;
}


/* Featured topics by category */
.featured-topics-category {
    margin-top: 80px;
    text-align: left;
}

.featured-all-category {
    margin: 40px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.featured-category {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hard-skills {
    color: var(--green);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.number-students {
    margin-top: 10px;

    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* Partners */
.partners {
    margin-top: 80px;
    padding: 80px 0;
    text-align: center;
    background-color: var(--light-green);
}

.partners-icon {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Bussines */
.bussines {
    margin-top: 80px;

    display: flex;
    align-items: center;
    gap: 72px;
}

.bussines-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 32px;
}
.bussines-content p {
    color: var(--black);
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.contact-sales {
    width: fit-content;
    padding: 10px 12px;

    border: none;
    border-radius: 4px;


    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    color: var(--light-grey);
    background-color: var(--green);
}

.business-block {
    display: grid;
    grid-template-columns: repeat(3, 176px);
    grid-template-rows: repeat(3, 116px);

    align-items: center;
    justify-items: center;
}

/* price */
.price {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 100px;

    text-align: center;

    background-color: var(--light-green);
}

.price-all {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

/* plan */
.plan {
    width: 304px;
    padding: 56px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    border-radius: 24px;
    border: 1px solid var(--green);
    background: var(--white);
}

.plan-title {
    position: relative;
    align-items: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

.plan-description {
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.plan-price {
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.plan-price span {
    /* position: absolute; */
    top: 15px;
    width: 50px;
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
} 

.get-started {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 auto;
    padding: 10px 12px;

    border-radius: 4px;
    background-color: var(--green);

    color: var(--white);
    text-align: center;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.plan-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--green);
}

.plan-advantages {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.plan-advantages li {
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.plan-advantages li p {
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* PLAN PLUS */
.plan-green {
    background: var(--green);
}

.plan-green h3 {
    color: var(--white);

}


.plan-green .plan-description {
    color: var(--white);
}

.plan-green .plan-price {
    color: var(--white);
    
}

.plan-green .plan-price span {
    color: var(--white);
}

.plan-green .get-started {
    width: fit-content;
    padding: 8px 10px;

    border: 2px solid var(--white);
    border-radius: 4px;
    color: var(--white);
}

.plan-green .plan-line {
    background-color: var(--white);
}


.plan-green .plan-advantages p{
    color: var(--white);
}



/* students-block */
.students-block {
    margin-top: 80px;
}

.students-wrapper {
    margin-top:  40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 210px);
    column-gap: 24px;
    row-gap: 24px;
}

.students-wrapper img {
    width: 100%;
    height: 100%;
}

.students-wrapper :nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}
.students-wrapper :nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
}
.students-wrapper :nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
}
.students-wrapper :nth-child(5) {
    grid-row: 3/4;
    grid-column: 3/4;
}
.students-wrapper :nth-child(6) {
    grid-row: 3/4;
    grid-column: 4/5;
}
.students-wrapper :nth-child(7) {
    grid-row: 2/3;
    grid-column: 4/5;
}
.students-wrapper :last-child {
    grid-row: 1/3;
    grid-column: 2/4;
}


/* contac-form */
.contact-form{
    position: relative;
    margin-top: 80px;
    padding: 65px 0px 47px 0px;
    background-image: url(../images/background-form.jpg);
    background-size: cover;
}

/* .contact-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
} */
.form-contact-us {

    padding: 30px;
    margin: 0 auto;
    width: 505px;
    border-radius: 24px;
    background-color: var(--light-green);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-contact-us label {
    margin-right: 30px;
    color:var(--black);
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.form-contact-us input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background: var(--white);
}


.form-contact-us input::placeholder {
    color: var(--dark-grey);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.form-contact-us textarea {
    width: 100%;
    height: 80px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background: var(--white);
}

.form-contact-us textarea::placeholder {
    color: var(--dark-grey);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.button-submit {
    padding: 10px 12px;
    width: 172px;

    border: none;
    border-radius: 4px;
    background-color: var(--green);

    color: var(--white);
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}


/* FOOTER */
.footer {
    padding: 64px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p {
    color: var(--black);
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.left-footer {
    width: 306px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 60px;
}

.social-wrapper {
    display: flex;
    gap: 24px;
}

.social-wrapper a{
    display: block;
    width: 32px;
    height: 32px;
}

.instagram {
    background-image: url(../images/Instagram.svg);
}
.facebook {
    background-image: url(../images/Facebook.svg);
}

.linkedin {
    background-image: url(../images/linkedin.svg);
}
